body,html,#root{
  height:100%;
  width:100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel{
  overflow: hidden;
}
.panelCell{
  background-color:#ddd;
  border:1px solid #ccc;
}
.L{
  background:red;
  border:1px solid #ddd;
}
.J{
  background:pink;
  border:1px solid #ddd;
}
.I{
  background:green;
  border:1px solid #ddd;
}
.O{
  background:yellow;
  border:1px solid #ddd;
}
.T{
  background:orange;
  border:1px solid #ddd;
}
.S{
  background:rgb(129, 188, 236);
  border:1px solid #ddd;
}
.Z{
  background:cyan;
  border:1px solid #ddd;
}