body,html,#root{
  height:100%;
  width:100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel{
  overflow: hidden;
}
.panelCell{
  background-color:#ddd;
  border:1px solid #ccc;
}
.L{
  background:red;
  border:1px solid #ddd;
}
.J{
  background:pink;
  border:1px solid #ddd;
}